/web/sites/default/files/
/web/sites/default/settings.local.php
/.ddev/.tmp/
/.ddev/db_snapshots/
/vendor/
/node_modules/
/.env
.phpunit.result.cache
/web/core
/web/modules/contrib
/web/themes/contrib
/web/profiles/contrib
/web/libraries/

